<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base de Dados | Mesa Digital</title>
    {% include 'css-links.html' %}
  </head>
  <body class="grid grid-cols-12 h-screen">
    <header class="col-span-2 bg-background_dados text-texto_dados h-full">
      <ul class="flex flex-col gap-4 list-none">
        <li>Sobre</li>
        <li>Equipe</li>
        <li>Publicações</li>
      </ul>
      <div>Temas Pesquisados</div>
      <ul></ul>
    </header>
    <main class="col-span-10"></main>
  </body>
</html>
