{% extends 'layout.html' %} {% block content %}
<div
  class="w-full h-96 bg-[url('../assets/laranja_mae_mu.jpg')] bg-center"
></div>
<div class="flex justify-center px-[600px] mt-10">
  <div class="text-3xl space-y-9">
    <h2 class="font-semibold text-slate-700">Bem vind@ à mesa digital!</h2>
    <p class="text-lg text-slate-600">
      <b>Mesa Digital</b> é parte de um projeto coordenado pelo
      <b>Grupo de Estudos de Culturas Alimentares Digitais</b> com a proposta de
      estimular o debate e a reflexão em torno de análises teóricas e empíricas
      sobre culturas alimentares digitais, movimentos sociais e ativismo
      alimentar digital. Além do informativo trimestral, usaremos este espaço
      para propor discussões em torno das Culturas Alimentares Digitais.
    </p>
    <p class="text-lg text-slate-600">
      Nossa análise se concentra no
      <b>debate alimentar mediado pelas tecnologias</b>, ou seja, como
      diferentes atores utilizam o espaço “online” para comunicar, se posicionar
      e debater sobre alimentação. Buscamos também compreender como
      <b>práticas alimentares cotidianas</b>
      ganham dimensão pública e de que forma movimentos sociais alimentares
      expressam suas posições no ambiente digital.
    </p>
  </div>
</div>
{% endblock %}
