<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mesa Digital</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="flex justify-center py-6">
      <ul class="flex flex-row list-none gap-8 items-center">
        <li class="w-40">
          <a href="#">
            <img
              src="{{url_for('static', filename='assets/logo.jpg')}}"
              alt=""
            />
          </a>
        </li>
        <li class="text-lg text-slate-600 hover:text-slate-800 hover:underline">
          <a href="">Sobre</a>
        </li>
        <li class="text-lg text-slate-600 hover:text-slate-800 hover:underline">
          <a href="">Informativo </a>
        </li>
        <li class="text-lg text-slate-600 hover:text-slate-800 hover:underline">
          <a href="">Notícias</a>
        </li>
        <li class="text-lg text-slate-600 hover:text-slate-800 hover:underline">
          <a href="/base-de-dados">Base de Dados </a>
        </li>
        <li class="text-lg text-slate-600 hover:text-slate-800 hover:underline">
          <a href="">Contato</a>
        </li>
        <input
          placeholder="Buscar..."
          class="bg-gray-200 rounded-lg px-4 py-2 text-lg"
        />
      </ul>
    </nav>
    {% block content %} {% endblock %}
    <footer class="flex flex-col justify-center mt-12 gap-8">
      <ul class="flex flex-row list-none gap-8 items-center justify-center">
        <li class="hover:underline"><a href="">O que é a mesa?</a></li>
        <li class="hover:underline"><a href="">Informativo</a></li>
        <li class="hover:underline"><a href="">Notícias</a></li>
        <li class="hover:underline">
          <a href="/base-de-dados">Base de Dados</a>
        </li>
        <li class="hover:underline"><a href="">Newsletter</a></li>
        <li class="hover:underline"><a href="">Contato</a></li>
        <li class="hover:underline"><a href="">Política de Privacidade</a></li>
      </ul>
      <div class="flex justify-center">
        <img
          src="{{url_for('static', filename='assets/Unimontes.png')}}"
          alt=""
          width="180"
        />
        <img
          src="{{url_for('static', filename='assets/CNPq.png')}}"
          alt=""
          width="180"
        />
        <img
          src="{{url_for('static', filename='assets/FAPEMIG.png')}}"
          alt=""
          width="180"
        />
      </div>
    </footer>
    {% block scripts %} {% endblock %}
  </body>
</html>
